version: '3.8'
services:
  server:
    image: ubro3/chuotcord-chat-service:latest
    container_name: chuotcord-chat-service
    ports:
      - "8080:8080"
    depends_on:
      - redis
      - mongodb
    volumes:
      - uploads:/usr/src/server/uploads
      - ./certs:/usr/src/certificates
    environment:
      NODE_ENV: ${NODE_ENV}
      PORT: ${PORT}
      MONGODB_URL: ${MONGODB_URL}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      JWT_ACCESS_SECRET: ${JWT_ACCESS_SECRET}
      JWT_REFRESH_SECRET: ${JWT_REFRESH_SECRET}
      JWT_RECOVERY_SECRET: ${JWT_RECOVERY_SECRET}
      JWT_ACCESS_EXPIRATION_MINUTES: ${JWT_ACCESS_EXPIRATION_MINUTES}
      JWT_REFRESH_EXPIRATION_DAYS: ${JWT_REFRESH_EXPIRATION_DAYS}
      JWT_RESET_PASSWORD_EXPIRATION_MINUTES: ${JWT_RESET_PASSWORD_EXPIRATION_MINUTES}
      JWT_VERIFY_EMAIL_EXPIRATION_MINUTES: ${JWT_VERIFY_EMAIL_EXPIRATION_MINUTES}
      RTC_MIN_PORT: ${RTC_MIN_PORT}
      RTC_MAX_PORT: ${RTC_MAX_PORT}
      RTC_ANNOUNCED_IP: ${RTC_ANNOUNCED_IP}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USERNAME: ${SMTP_USERNAME}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      EMAIL_FROM: ${EMAIL_FROM}
      SERVER_HOST: ${SERVER_HOST}
      CLIENT_HOST: ${CLIENT_HOST}
      SSL_CERT_PATH: ${SSL_CERT_PATH}
      SSL_KEY_PATH: ${SSL_KEY_PATH}
      UPLOADS_DIR: ${UPLOADS_DIR}
      CORS_ORIGIN_DEVELOPMENT: ${CORS_ORIGIN_DEVELOPMENT}
      CORS_ORIGIN_PRODUCTION: ${CORS_ORIGIN_PRODUCTION}
      USE_HTTPS: ${USE_HTTPS}
      CERT_PATH: /usr/src/certificates

  client:
    image: ubro3/chuotcord-client-service:latest
    container_name: chuotcord-client-service
    ports:
      - "3000:3000"
    volumes:
      - ./certs:/usr/src/certificates
    environment:
      HTTPS: ${HTTPS}
      SSL_CRT_FILE: ${SSL_CRT_FILE}
      SSL_KEY_FILE: ${SSL_KEY_FILE}
      REACT_APP_CLIENT_HOST: ${REACT_APP_CLIENT_HOST}
      REACT_APP_CHAT_SERVER_HOST: ${REACT_APP_CHAT_SERVER_HOST}
      REACT_APP_CMS_SERVER_HOST: ${REACT_APP_CMS_SERVER_HOST}
      REACT_APP_CHAT_SERVER_API_URL: ${REACT_APP_CHAT_SERVER_API_URL}
      CERT_PATH: /usr/src/certificates

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - server
      - client
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - ./certs:/etc/nginx/certs

  redis:
    image: redis
    container_name: chuotcord-redis-service
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - ./certs:/usr/src/certificates
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  mongodb:
    image: mongo:latest
    container_name: chuotcord-mongo-service
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
      - ./certs:/usr/src/certificates
    healthcheck:
      test: ["CMD", "mongo", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mongo_data:
  uploads:
